.about-1 {
  text-align: center;
  padding: 20px 80px;
  background-color: #fff;
}
.about-1 h1 {
  font-size: 50px;
  font-weight: 700;
  color: blue;
  margin-bottom: 30px;
}
.about-1 p {
  font-size: 20px;
  line-height: 25px;
  color: rgb(72, 72, 172);
  margin-bottom: 60px;
}
.about-2 {
  background-color: #001223;
  width: 100%;
  margin: 0;
  padding: 60px;
}
.about-2 h2 {
  color: #ff00ff;
}
.about-2 p {
  color: white;
  margin-bottom: 40px;
}
.list {
  color: white;
}
.list li {
  font-size: 18px;
  padding-right: 10px;
}
.h5 {
  font-size: 20px;
  margin-top: 20px;
}
.about-3 {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 10px;
}
.proud {
  padding-left: 20px;
  padding-right: 20px;
}
